# Gradle files
.gradle/
build/
*/build/
!*/src/main/assets/
!*/src/main/res/

# Local configuration files
local.properties
key.properties

# Keystore files (mai su git!)
**/*.keystore
**/*.jks

# Flutter/Dart specific
GeneratedPluginRegistrant.java
.cxx/
captures/

# Wrapper eseguibili (possono essere rigenerati)
gradlew
gradlew.bat
gradle-wrapper.jar

# IDE files
.idea/
*.iml

# MacOS/Linux/Windows system files
.DS_Store
Thumbs.db